<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <settings>

        <setting name="logImpl" value="LOG4J"/>

        <!-- 开启mybatis缓存设置,一般都是true -->
        <setting name="cacheEnabled" value="true"/>

        <!--延迟加载的全局开关-->
        <setting name="lazyLoadingEnabled" value="false"/>

        <!--设置超时时间-->
        <setting name="defaultStatementTimeout" value="3000"/>

        <!--本地缓存机制-->
        <setting name="localCacheScope" value="STATEMENT"/>

        <setting name="defaultExecutorType" value="SIMPLE"/>

        <setting name="mapUnderscoreToCamelCase" value="true"/>

        <!--允许JDBC支持自动生成主键,需要驱动的兼容-->
        <setting name="useGeneratedKeys" value="true"/>
    </settings>

    <!--类型别名是为 Java 类型设置一个短的名字。它只和 XML 配置有关，存在的意义仅在于用来减少类完全限定名的冗余。-->
    <typeAliases>
        <!--<typeAlias alias="Author" type="domain.blog.Author"/>-->
    </typeAliases>

    <!--一是手动在 MyBatis 的 XML 配 置文件中使用<mappers>部分来指定类路径。
        第二是使用工厂 bean 的 mapperLocations 属 性。-->
    <mappers>
        <!--<mapper url="file:///var/mappers/AuthorMapper.xml"/>-->
        <!--<mapper resource="org/mybatis/builder/AuthorMapper.xml"/>-->
        <!--<mapper class="org.mybatis.builder.AuthorMapper"/>-->
    </mappers>


</configuration>